.App {
  min-height: 100vh;
  min-width: 100vw;
}
.App-header {
  background-color: #7032eb;
  height: 15vh;
  color: white;
  padding-top: 7vh;
  padding-left: 5%;
}
.App-nav {
  background-color: #4c16b8;
  height: 5vh;
  color: white;
}
.Add-button {
  margin-left: 95vw;
  margin-top: -30px;
}
.main {
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: solid 3px gray;
}
.main-left {
  background-color: aqua;
  height: 40vh;
}
.main-right-title {
  margin-left: 5rem;
  margin-top: 5rem;
}
.main-right-content {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main-footer {
  color: rgb(10, 165, 236);
  padding-top: 2rem;
}
.footer {
  background-color: #7032eb;
  color: white;
  height: 8vh;
}
